*.lo
.libs
.autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libosock-1.0.la
libtool
ltmain.sh
missing
osock-1.0.pc
osockconfig.h
.deps/
.dirstamp
INSTALL
stamp-h1
stamp-h2
