*.o
*.lo
.libs
.autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libosock-*.la
unittestlibosock*
libtool
ltmain.sh
missing
osock-*.pc
osockconfig.h
.deps/
.dirstamp
INSTALL
stamp-h1
stamp-h2
